:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

[data-theme="dark"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
