@import "tailwindcss";

@custom-variant dark (&:is([data-theme="dark"] *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-subtle: var(--subtle);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@layer theme {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --secondary: oklch(0.96 0 0);
    --surface: oklch(0.98 0 0);
    --subtle: oklch(0.6 0 0);
  }

  [data-theme="dark"] {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --secondary: oklch(0.269 0 0);
    --surface: oklch(0.205 0 0);
    --subtle: oklch(0.6 0 0);
  }
}

@layer base {
  body {
    @apply antialiased bg-background text-foreground font-sans;
  }
}
